{{template "header" . }}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div class="container">
        <div class="col-lg-12">
            <h1>Match {{.Param}}</h1>
            <table class="table" style="text-align: center">
                <thead>
                <tr>
                    <th>Teams</th>
                    <th class="bg-danger text-white">
                        -
                        {{range ((index .Matches .Param).RedAlliance)}}
                            {{.Name}} -
                        {{end}}
                    </th>
                    <th class="bg-primary text-white">
                        -
                        {{range ((index .Matches .Param).BlueAlliance)}}
                            {{.Name}} -
                        {{end}}
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Score</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedScore}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BlueScore}}</td>
                </tr>
                <tr>
                    <td>Autonomous</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedAuto}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BlueAuto}}</td>
                </tr>
                <tr>
                    <td>Tele-operated</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedTele}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BlueTele}}</td>

                </tr>
                <tr>
                    <td>Endgame</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedEnd}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BlueEnd}}</td>

                </tr>
                <tr>
                    <td>Penalties</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedPenalty}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BluePenalty}}</td>

                </tr>
                <tr>
                    <td>Adjustments</td>
                    <td class="bg-danger text-white">{{(index .Matches .Param).RedAdjust}}</td>
                    <td class="bg-primary text-white">{{(index .Matches .Param).BlueAdjust}}</td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
{{template "footer" . }}
